.container{
     height: 50vh;
     border: 2px solid red;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     position: relative;
    
}
.box{
     height: 20vh;
     width: 45%;
     border: 2px solid green;
}
.box3{
     position: absolute;
      top: 30%;
}