*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 
 }
 .header1{
     display: flex;
     justify-content: space-around;
 
     align-items: center;
     margin: auto;
     padding-bottom: 10px;
     
    
 }
 .input {
     display: flex;
     border: 1px solid rgb(107, 101, 101);
     
   align-items: center;
     border-radius: 5px;
    
 
 }
 .input input{
    
   
    
    font-size: 15px;
    border: none;
    outline: none;
    margin-left: 20px;
    
 }
 .left-input{
     width: 90%;
 }
 .right-input{
     width: 10%;
 }
 .input i{
     padding: 20px;
    
    
 }
 .phone{
     text-align: right;
     font-size: 20px;
     font-family: sans-serif;
 
 }
 
 .email{
     text-align: right;
     font-size: 20px;
     font-family: sans-serif;
 }
 #ph{
      color: rgb(153, 143, 143);
      font-weight: 10;
 }
 .logo{
     width: 10%;
 }
 .input{
     width: 30%;
 }
 .phone{
     width: 10%;
 }
 .email{
     width: 10%;
 }
 
   
 @media (max-width:1150px) {
       .input, .phone, .email{
         display: none;
       }
 }
 .header2{
     display: flex;
     justify-content: space-around;
     align-items: center;
     
    
 }
 .center ul{
     display: flex;
     justify-content: center;
     list-style: none;
    margin: 10px;
    
 }
 .left select{
     padding: 10px;
     font-size: 15px;
     font-family: sans-serif;
 }
 .center ul li{
     padding: 25px;
     color: rgb(108, 102, 102);
     font-family: sans-serif;
     font-size: 15px;
     cursor: pointer;
 }
 .center ul li:hover{
     color: rgb(194, 133, 133);
 }
 .right i{
     padding: 15px;
     cursor: pointer;
    
 }
 .bar{
     display: none;
 }
 @media (max-width:1005px) {
     .left,.center{
         display: none;
     }
     .bar{
         display: block;
     }
     
 }
 .main{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     min-height: 80vh;
     width: 100%;
     background-color: #f9f3ec ;
 }
 .para1{
     
     color: rgb(169, 83, 83);
 }
 .cont1{
     padding-top: 30px;
   color: rgb(81, 75, 75);
   font-family: sans-serif;
   font-size: 70px;
   font-weight: 100;
 }
 .cont2{
     color: rgb(81, 75, 75);
   font-family: sans-serif;
   font-size: 70px;
   padding-bottom: 30px;
   font-weight: 100;
 }
 strong{
     color: rgb(196, 71, 71);
     font-weight: 100;
 }
 .btn1{
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
     font-size: 20px;
     border-color: rgb(124, 117, 117);
     border-radius: 5px;
     background-color: transparent;
 }
 .btn1:hover{
     background-color: black;
     color: white;
 }
 .image img{
     height: 80%;
     width: 80%;
 }
 .box{
   
    
    width: 80%;
     display: flex;
     flex-wrap: wrap;
    padding-top: 60px;
     margin: auto;
   
 }
 .box1{
    height: 200px;
    width: 200px;
  
     margin: auto;
     
 }
 .box1 p{
     text-align: center;
     font-size: 20px;
     font-family: sans-serif;
     color: rgb(92, 86, 86);
 }
 .icon{
     color: rgb(206, 161, 161);
 }
 .icon:hover{
     color: rgb(206, 121, 121);
 }
 .pet-clothing{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     width: 80%;
     margin: auto;
     padding-top: 70px;
 }
 
 .petcl h1{
     font-size: 60px;
     font-family: sans-serif;
     font-weight: 100;
     color: rgb(66, 60, 60);
 }
 
 
 .dog-clothing{
     width: 80%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     /* border: 2px solid black; */
     margin-top: 50px;
 }
 .cloth{
     height: 380px;
     width: 280px;
     /* border: 2px solid red; */
     margin: 7px;
     /* justify-content: space-around; */
 }
 .pic{
     height: 60%;
     /* border: 2px solid green; */
 }
 #cloth1{
    background: url(https://rafiaein.github.io/waGGy/images/item1.jpg);
    background-size: cover;
    border-radius: 10px;
 }
 #cloth2{
     background: url(https://rafiaein.github.io/waGGy/images/item2.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 #cloth3{
     background: url(https://rafiaein.github.io/waGGy/images/item4.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 #cloth4{
     background: url(https://rafiaein.github.io/waGGy/images/item8.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 .greay-hoodie{
     font-size: 25px;
     font-family: sans-serif;
     font-weight: 100;
     color: rgb(54, 52, 52);
 }
 .star{
     color: rgb(189, 113, 113);
     padding: 10px 10px 10px 0px;
     font-size: 20px;
     
 }
 .rs{
     font-size: 30px;
     font-family: sans-serif;
     font-weight: 100;
     color: rgb(189, 113, 113) ;
     padding: 0px 5px 5px 0px;
 }
 .cart{
     font-size: 20px;
     padding: 10px;
     border: none;
     border: 1px solid rgb(155, 142, 142);
     margin: 5px 5px 5px 0px;
     cursor: pointer;
     background-color: transparent;
     border-radius: 5px;
 }
 .pet-food{
     width: 80%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-top: 70px;
     /* border: 2px solid black; */
 }
 .foodie{
     font-size: 60px;
     font-family: sans-serif;
     font-weight: 100;
     color: rgb(66, 60, 60);
 }
 .opt ul{
     display: flex;
     list-style: none;
     padding: 30px;
 }
 .opt ul li{
     padding-left:15px;
     padding-right: 15px;
     font-family: sans-serif;
     font-size: 20px;
     margin: 10px;
     cursor: pointer;
 }
 #all{
    padding-bottom: 5px;
     border-bottom: 2px solid rgb(141, 135, 135);
 }
 #all:hover{
     border-bottom: 2px solid  rgb(189, 113, 113);
 }
 #dog{
     border-bottom: 2px solid rgb(141, 135, 135);
 }
 #dog:hover{
     border-bottom: 2px solid  rgb(189, 113, 113);
 }
 #cat{
     border-bottom: 2px solid rgb(141, 135, 135);
 }
 #cat:hover{
     border-bottom: 2px solid  rgb(189, 113, 113);
 }
 #bird{
     border-bottom: 2px solid rgb(141, 135, 135);
 }
 #bird{
     border-bottom: 2px solid  rgb(189, 113, 113);
 }
 .pet-fooding{
     width: 80%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     /* border: 2px solid black; */
    padding-top: 10px;
 
 }
 .pet-fooding1{
     height: 380px;
     width: 280px;
     /* border: 2px solid red; */
   
     margin-bottom: 60px;
 }
 .pic1{
     height: 60%;
     /* border: 2px solid green; */
 }
 #food1{
     background: url(https://rafiaein.github.io/waGGy/images/item9.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 #food2{
     background: url(https://rafiaein.github.io/waGGy/images/item10.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 #food3{
     background: url(https://rafiaein.github.io/waGGy/images/item11.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 #food4{
     background: url(https://rafiaein.github.io/waGGy/images/item12.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 #food5{
     background: url(https://rafiaein.github.io/waGGy/images/item13.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 #food6{
     background: url(https://rafiaein.github.io/waGGy/images/item14.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 #food7{
     background: url(https://rafiaein.github.io/waGGy/images/item15.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 #food8{
     background: url(https://rafiaein.github.io/waGGy/images/item16.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 .sale{
     min-height: 70vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     background-color: #f9f3ec ;
 }
 .cont8{
     margin: 50px;
 }
 .cont8 p{
     color: rgb(155, 100, 100);
     font-size: 20px;
     font-family: sans-serif;
     font-weight: 100;
     padding-bottom: 10px;
 }
 .cont8 h1{
     color: rgb(75, 70, 70);
     font-size:60px ;
     font-weight: 100;
     font-family: sans-serif;
     padding-bottom: 15px;
    
 }
 .photo img{
     height: 80%;
     width: 100%;
 }
 .explain{
     min-height: 70vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
 
     font-size: 20px;
     font-weight: 100;
     font-family: sans-serif;
 
 }
 .exp{
    display: flex;
    flex-wrap: wrap;
 
     width: 900px;
     height: 400px;
    
     text-align: justify;
     line-height: 30px;
     letter-spacing: 2px;
     font-size: 25px;
     color: rgb(94, 89, 89);
     font-weight: 100;
     font-family: sans-serif;
 
 }
 .exp svg{
     font-size: 80px;
     color: rgb(155, 100, 100) ;
 }
 .joshima{
     font-size: 15px;
     color: rgb(39, 34, 34);
 }
 .selling{
     min-height: 20vh;
     width: 80%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 
 }
 .best{
     font-size: 60px;
     font-family: sans-serif;
     font-weight: 100;
     color: rgb(66, 60, 60);
 }
 .best-sell{
     width: 80%;
     margin: auto;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     /* border: 2px solid black; */
 }
 .best-selling1{
     height: 380px;
     width: 280px;
     /* border: 2px solid red; */
   
     margin-bottom: 60px;
 }
 .photo1{
     height: 60%;
     /* border: 2px solid gray; */
 }
 #photo11{
     background: url(https://rafiaein.github.io/waGGy/images/item5.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 #photo12{
     background: url(https://rafiaein.github.io/waGGy/images/item6.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 #photo13{
     background: url(https://rafiaein.github.io/waGGy/images/item8.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 #photo14{
     background: url(https://rafiaein.github.io/waGGy/images/item4.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 .purchase{
     min-height: 80vh;
     background-color:  #f9f3ec;
     /* display: flex; */
     /* justify-content: center; */
     text-align: center;
    
     
 }
 .get{
     font-size: 50px ;
     padding-top: 40px;
     font-family: sans-serif;
     font-weight: 100;
     color: rgb(100, 94, 94);
     letter-spacing: 2px;
 }
 .off{
     font-size: 50px ;
    letter-spacing: 3px;
     font-family: sans-serif;
     font-weight: 100;
     color: rgb(180, 95, 95);
 }
 .form input{
     width: 350px;
     height: 50px;
    padding-right: 300px;
    
      padding: 15px;
     
     font-size: 20px;
     font-family: sans-serif;
     font-weight: 100;
     border: none;
     border-radius: 5px;
     margin-top: 20px;
     border: 1px solid rgb(115, 110, 110);
 }
 .reg{
     padding: 15px;
     padding-right: 130px;
     padding-left: 130px;
     margin-top: 20px;
     font-family: sans-serif;
     font-weight: 100;
     background-color: black;
     color: #f9f3ec;
     cursor: pointer;
    border-radius: 5px;
 }
 .blog{
     width: 80%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-top: 40px;
 }
 .latest h1{
     font-size: 60px;
     font-family: sans-serif;
     font-weight: 100;
     color: rgb(66, 60, 60);
 }
 .post{
     width: 80%;
     display: flex;
     flex-wrap: wrap;
     margin: auto;
     justify-content: space-between;
    
     margin-top: 30px;
 }
 .post1{
     height: 650px;
    width: 400px;
   
 }
 .dogimg{
     height: 50%;
    
     background: url(https://rafiaein.github.io/waGGy/images/blog1.jpg);
     background-size: cover;
     border-radius: 20px;
 }
 .dogimg1{
     height: 70%;
    
     background: url(https://rafiaein.github.io/waGGy/images/blog2.jpg);
     background-size: cover;
     border-radius: 20px;
 }
 .dogimg2{
     height: 40%;
    
     background:url(https://rafiaein.github.io/waGGy/images/blog3.jpg);
     background-size: cover;
     border-radius: 20px;
 }
 .colom{
     background-color:white;
     border-radius: 5px;
     display: inline-block;
     margin: 10px;
    
     
 }
 .date{
       font-family:sans-serif ;
       font-weight: 100;
       color: rgb(189, 66, 66);
         font-size: 30px;
      font-size: 40px;
      padding: 5px;
 }
 .feb{
     font-family:sans-serif ;
     font-weight: 100;
     color: rgb(59, 56, 56);
    text-align: center;
    font-size: 20px;
 }
 .cont6 h1{
     font-size: 25px;
  font-weight: 100;
  font-family: sans-serif;
  padding-top: 5px;
  
 
  }
  .cont6 p{
     font-size: 20px;
     font-weight: 100;
     font-family: sans-serif;
     padding-top: 20px;
     padding-bottom: 20px;
     color: rgb(110, 105, 105);
  }
  .ank{
    
     font-size: 15px;
     font-weight: 100;
     font-family: sans-serif;
       border-bottom: 2px solid rgb(75, 73, 73);
       cursor: pointer;
       color: rgb(110, 105, 105);
  }
  .icon2{
       width: 80%;
       margin: auto;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       /* border: 1px solid black; */
       margin-top: 30px;
  }
  .icon1{
     height: 200px;
     width: 280px;
     /* border: 2px solid green; */
  }
  .icon1 svg{
     color: rgb(226, 152, 152);
     font-size: 50px;
     border: 1px solid rgb(122, 112, 112);
    margin: 10px;
    padding: 5px;
    border-radius: 30px;
  }
  .icon1 h1{
     font-size: 25px;
     font-weight: 100;
     font-family: sans-serif;
     padding-top: 5px;
  }
  .icon1 p{
     font-size: 20px;
     font-weight: 100;
     font-family: sans-serif;
     padding-top: 20px;
     padding-bottom: 20px;
     color: rgb(110, 105, 105)
  }
  .catimg{
     
     width: 100%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
    justify-content: space-between;
    
     margin-top: 30px;
  }
  .catimg1{
    width: 252px;
     height: 250px;
     cursor: pointer;
     transition: all 2s ease-in-out;
 
     
  }
  .catimg1 i{
     display: none;
     
 }
  .catimg1:hover i{
     
         display: block;
         display: flex;
         justify-content: center;
         align-items: center;
         color: white;
         font-size: 40px;
         padding-top: 110px;
       
         
       
  }
  #catimg11{
     background: url(https://rafiaein.github.io/waGGy/images/insta1.jpg);
     background-size: cover;
     border-radius: 10px;
  }
  #catimg12{
     background: url(https://rafiaein.github.io/waGGy/images/insta2.jpg);
     background-size: cover;
     border-radius: 10px;
  }
  #catimg13{
     background: url(https://rafiaein.github.io/waGGy/images/insta3.jpg);
     background-size: cover;
     border-radius: 10px;
  }
  #catimg14{
     background: url(https://rafiaein.github.io/waGGy/images/insta4.jpg);
     background-size: cover;
     border-radius: 10px;
  }
  #catimg15{
     background: url(https://rafiaein.github.io/waGGy/images/insta5.jpg);
     background-size: cover;
     border-radius: 10px;
  }
  #catimg16{
     background: url(https://rafiaein.github.io/waGGy/images/insta6.jpg);
     background-size: cover;
     border-radius: 10px;
  }
  .wagy{
     width: 80%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
   
     margin-top: 100px;
  }
  .wagy1{
     height: 300px;
     width: 300px;
    
  } 
  .wagy1 img{
     padding-bottom: 10px;
  }
  .wagy1 p{
     font-size: 18px;
     font-weight: 100;
     font-family: sans-serif;
     padding-top: 10px; 
     
     color: rgb(110, 105, 105)
  }
 #insta{
     padding: 15px;
    margin-top: 20px;
     font-size: 15px;
     border: 1px solid rgb(157, 150, 150);
     border-radius: 35px;
     cursor: pointer;
     color: rgb(143, 131, 131);
 }
 #insta:hover{
     background-color: rgb(169, 109, 109);
     color: white;
 }
 .wagy1 h1{
     font-size: 30px;
     font-weight: 100;
     font-family: sans-serif;
     padding-top: 5px;
     color: rgb(91, 86, 86);
 }
 #h:hover{
    color: rgb(202, 129, 129);
    cursor: pointer;
 }
 .input20 input{
     width: 70%;
   margin: auto;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 15px;
    
 
    
 }
 .input20{
     margin-top: 20px;
     border: 1px solid rgb(105, 98, 98);
     border-radius: 20px;
 }
 .input20 i{
    margin: 10px;
     padding: 10px;
     width: 20%;
     font-size: 30px;
     background-color: rgb(210, 134, 134);
     border-radius: 10px;
     color: white;
     cursor: pointer;
 }
 .line{
     width: 80%;
     border: 1px solid rgb(151, 143, 143);
     /* margin-top: 30px; */
     margin: auto;
 }
 .footer{
     width: 80%;
     display: flex;
     flex-wrap: wrap;
     margin: auto;
     justify-content: space-between;
     padding-top: 30px;
 }
 .footer1{
     height: 150px;
     width: 400px;
     /* border: 2px solid black; */
 }
 .footer1 p{
     font-size: 18px;
     font-weight: 100;
     font-family: sans-serif;
     padding-top: 10px; 
     
     color: rgb(110, 105, 105)
 }
 .footer2{
     height: 150px;
     width: 400px;
     /* border: 2px solid black; */
     text-align: right;
 }
 .footer2 p{
     font-size: 18px;
     font-weight: 100;
     font-family: sans-serif;
     padding-top: 10px; 
     
     color: rgb(110, 105, 105)
 }